<?xml version='1.0' encoding='utf-8'?>
<widget
    id="com.din.ypologismos_moriwn"
    version="2.0.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Μόρια Πανελληνίων ΓΕΛ-ΕΠΑΛ</name>
    <description>
        Μία γρήγορη και εύκολη στην χρήση εφαρμογή
        για τον υπολογισμό των μορίων των πανελληνίων 2016+(Νέο Σύστημα)
    </description>
    <author email="kitsios.konst@gmail.com" href="">
        din
    </author>

    <access origin="*" />

    <preference name="EnableDeveloperConsole" value="false"/>

    <platform name="android">
    <icon src="res/android/icon.png" density="ldpi" />
    <icon src="res/android/icon.png" density="mdpi" />
    <icon src="res/android/icon.png" density="hdpi" />
    <icon src="res/android/icon.png" density="xhdpi" />
    <icon src="res/android/icon.png" density="xxhdpi" />
    <icon src="res/android/icon.png" density="xxxhdpi" />
  </platform>

</widget>
